.container {
    margin: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.sub-contain {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.side-menu {
    min-width: 150px;
    margin-top: 20px;
    border-right: 0.5px solid black;
}

.side-menu .sub-menu a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.side-menu .sub-menu .link-name {
    transition: all 0.4s ease;
}

.side-men.close u .sub-menu .link-name {
    opacity: 0;
    pointer-events: none;
}

.side-menu .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    /* background: #1d1b31; */
    display: none;
}

.list-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 20px;
    /* align-content: stretch; */
    flex-wrap: wrap;
}

.list-container img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.list-container .list {
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-container .list .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.list-container .list .text p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
}



.btn-borr {
    width: auto;
    height: 39px;
    background: #eef4ff;
    border: 1px solid #8567FF;
    border-radius: 10px;
    padding: 10px 10px;
    color: #5f38ff;
}

.btn-over {
    width: auto;
    height: 39px;
    background: #ffeeee;
    border: 1px solid #ff6767;
    border-radius: 10px;
    padding: 10px 10px;
    color: red;
}

.btn-return {
    width: auto;
    height: 39px;
    background: #f1f1f1;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    padding: 10px 10px;
    color: grey;
}

.list-container .list .text .status-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.txt-small {
    font-size: 14px;
}

@media all and (max-width: 767px) {
    .list-container .list .text p {
        text-overflow: ellipsis;
        width: 150px;
    }
}