{% extends "layout.html" %}
{% load static %}
{% block title %}<title>{{ equipment.name }}</title>{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/detial.css' %}">
{% endblock %}

{% block body %}
    {% if messages %}
    <div class="alert">
        {% for message in messages %}
            <div>{{ message }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <script>
        liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
            if (!liff.isLoggedIn()) {
                liff.login();
            }else{
                liff.getProfile().then(profile => {
                    document.getElementById("userId_booking1").value = profile.userId;
                    document.getElementById("userId_booking2").value = profile.userId;
                    document.getElementById("userId_booking3").value = profile.userId;
                    document.getElementById("userId_profile").value = profile.userId;
                    document.getElementById("userId_fav").value = profile.userId;
                    document.getElementById("userId_favorite").value = profile.userId;
                    document.getElementById("image").src = profile.pictureUrl;

                }).catch((err) => {
                    console.log(err);
                });
            }
        }, err => console.error(err.code, error.message));
    </script>
    <div class="container">
        <h1>Detail</h1>
        <div class="data-container">
            <img src="{% static equipment.pic %}">
            <div class="desc">
                <p>Name: {{ equipment.name }}</p>
                <p>Category: {{ equipment.category }}</p>
                <p>Description: {{ equipment.desc }}</p>
                <div class="fav">
                    <form method="post" style="float:left" action="{% url 'favorite' %}">
                        {% csrf_token %}
                        <input type="hidden" id="userId_fav" name="userId" value="">
                        <input type="hidden" name="item_id" value="{{ equipment.id }}">
                        <button onclick="toggleFav(this)" type="submit"> 
                            <img src="{% static '/images/heart.png' %}" width="30px", height="30px">
                            Favorite
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-container">
            <h2>Holding information</h2>
            <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">No.</div>
                <div class="col col-2">ID</div>
                <div class="col col-3">Availability</div>
                <div class="col col-4">Category</div>
                <div class="col col-5">Due Date</div>
                <div class="col col-6">Booking Duration</div>
            </li>

            <li class="table-row">
                <div class="col col-1" data-label="Number"></div>
                <div class="col col-2" data-label="Id">{{ equipment.id }}</div>
                <div class="col col-3" data-label="Availability">
                    {% if equipment.available %}
                        <div id="availability-icon">
                            <svg width="24" height="24">
                            <circle cx="12" cy="12" r="10" fill="green" />
                            <path d="M7 13l3 3 7-7" stroke="white" stroke-width="2" fill="none" />
                            </svg>
                        </div> 
                    {% else %}
                        <div id="cross-icon">
                            <svg width="24" height="24">
                            <circle cx="12" cy="12" r="10" fill="red" />
                            <line x1="7" y1="7" x2="17" y2="17" stroke="white" stroke-width="2" />
                            <line x1="7" y1="17" x2="17" y2="7" stroke="white" stroke-width="2" />
                            </svg>
                        </div>
                    {% endif %}
                </div>
                <div class="col col-4" data-label="Category">{{ equipment.category }}</div>
                <!-- if not available sent statistic object an show due date -->
                {% if equipment.available %}
                    <div class="col col-5" data-label="Due Date">-</div>
                    <div class="col col-6" >
                        <form method="post" style="float:left" action="{% url 'booking_item' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking1" name="userId" value="">
                            <input type="hidden" name="item_id" value="{{ equipment.id }}">
                            <input type="hidden" name="date" value="1">
                            <button type="submit">1 Day</button>
                        </form>
                        <form method="post" style="float:left" action="{% url 'booking_item' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking2" name="userId" value="">
                            <input type="hidden" name="item_id" value="{{ equipment.id }}">
                            <input type="hidden" name="date" value="7">
                            <button type="submit">1 Week</button>
                        </form>
                        <form method="post" style="float:left" action="{% url 'booking_item' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking3" name="userId" value="">
                            <input type="hidden" name="item_id" value="{{ equipment.id }}">
                            <input type="hidden" name="date" value="30">
                            <button type="submit">1 Month</button>
                        </form>
                    </div>
                {% else %}
                    <div class="col col-5" data-label="Due Date">{{ statistic.due_datetime }}</div>
                    <div class="col col-6 cant">
                        <form method="post" style="float:left" action="{% url 'booking_item' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking1" name="userId" value="">
                            <input type="hidden" name="item_id" value="{{ equipment.id }}">
                            <input type="hidden" name="date" value="1">
                            <button type="submit">1 Day</button>
                        </form>
                        <form method="post" style="float:left" action="{% url 'booking_item' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking2" name="userId" value="">
                            <input type="hidden" name="item_id" value="{{ equipment.id }}">
                            <input type="hidden" name="date" value="7">
                            <button type="submit">1 Week</button>
                        </form>
                        <form method="post" style="float:left" action="{% url 'booking_item' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking3" name="userId" value="">
                            <input type="hidden" name="item_id" value="{{ equipment.id }}">
                            <input type="hidden" name="date" value="30">
                            <button type="submit">1 Month</button>
                        </form>
                    </div>
                {% endif %}
            </li>
            </ul>
        </div>
    </div>
{% endblock %}


