{% extends "layout.html" %}
{% load static %}
{% block title %}<title>Homepage</title>{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <script src="{% static '/js/styles.js' %}"></script>
    <script type="text/javascript" src="/static/js/styles.js"></script>
{% endblock %}

{% block body %}
    <script>
        liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
            if (!liff.isLoggedIn()) {
                liff.login();
            }else{
                liff.getProfile().then(profile => {
                    document.getElementById("userId_booking").value = profile.userId;
                    document.getElementById("userId_profile").value = profile.userId;
                    document.getElementById("userId_favorite").value = profile.userId;
                    document.getElementById("image").src = profile.pictureUrl;
                }).catch((err) => {
                    console.log(err);
                });
            }
        }, err => console.error(err.code, error.message));
    </script>
    <div id="slider">
        <ul id="slideWrap"> 
            <li><img src="{% static '/images/slide-1.jpg' %}" alt=""></li>
            <li><img src="{% static '/images/slide-2.png' %}" alt=""></li>
            
        </ul>
        <a id="prev" href="#">&#8249;</a>
        <a id="next" href="#">&#8250;</a>
    </div>
    <script>

        var responsiveSlider = function() {
          var slider = document.getElementById("slider");
          var sliderWidth = slider.offsetWidth;
          var slideList = document.getElementById("slideWrap");
          var count = 1;
          var items = slideList.querySelectorAll("li").length;
          var prev = document.getElementById("prev");
          var next = document.getElementById("next");
          
          window.addEventListener('resize', function() {
            sliderWidth = slider.offsetWidth;
          });
          
          var prevSlide = function() {
            if(count > 1) {
              count = count - 2;
              slideList.style.left = "-" + count * sliderWidth + "px";
              count++;
            }
            else if(count = 1) {
              count = items - 1;
              slideList.style.left = "-" + count * sliderWidth + "px";
              count++;
            }
          };
          
          var nextSlide = function() {
            if(count < items) {
              slideList.style.left = "-" + count * sliderWidth + "px";
              count++;
            }
            else if(count = items) {
              slideList.style.left = "0px";
              count = 1;
            }
          };
          
          next.addEventListener("click", function() {
            nextSlide();
          });
          
          prev.addEventListener("click", function() {
            prevSlide();
          });
          
          setInterval(function() {
            nextSlide()
          }, 5000);
          
          };
          
          window.onload = function() {
          responsiveSlider();  
          }
    </script>
    
    <div class="container">
        <div class="vertical-menu">
            
          <a class="element" href="{% url 'homepage' %}"><img src="{% static '/images/shopping-bag.png' %}" width="30px", height="30px"><span>All items</span></a>
          <p>Sort By</p></li>
          <a class="element" href="{% url 'homepage_sort_picked' %}"><img src="{% static '/images/fire.png' %}" width="30px", height="30px"><span>Popular</span></a>
          <a class="element" href="{% url 'homepage_sort_datetime' %}"><img src="{% static '/images/new.png' %}" width="30px", height="30px"><span>New</span></a>
          <a class="element" href="{% url 'homepage_sort_name' %}"><img src="{% static '/images/mat.png' %}" width="30px", height="30px"><span>Name</span></a>
            
        </div>
            
        <div class="container-product">
          {% for item in equipments %}
            <a href="{{ item.url }}">
              <div class="product-card">
                  <div class="product-img">
                      <img src="{% static item.pic %}">
                  </div>
                  <div class="product-desc">
                      <p>{{ item.name }}</p>
                  </div>
              </div>
            </a>
          {% empty %}
            <p>No items found.</p>
          {% endfor %}
        </div>
    </div>
{% endblock %}



