{% extends "layout.html" %}
{% load static %}
{% block title %}<title>Homepage</title>{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <script src="{% static '/js/styles.js' %}"></script>
    <script type="text/javascript" src="/static/js/styles.js"></script>
{% endblock %}

    {% block body %}
    <script>
        liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
            if (!liff.isLoggedIn()) {
                liff.login();
            }else{
                liff.getProfile().then(profile => {
                    document.getElementById("userId_booking").value = profile.userId;
                }).catch((err) => {
                    console.log(err);
                });
            }
        }, err => console.error(err.code, error.message));
    </script>
    <div class="cont"></div>
    <div class="container">
        <div class="vertical-menu">
            <ul>
                <li><a href="{% url 'homepage' %}">All items</a></li>
                <li><a href="{% url 'homepage' %}">Popular</a></li>
                <li><a href="{% url 'homepage' %}">New</a></li>
            </ul>
        </div>
            
        <div class="container-product">
            {% for item in equipments %}
                <a href="{{ item.url }}">
                <div class="product-card">
                    <div class="product-img">
                        <img src="{% static item.pic %}">
                    </div>
                    <div class="product-desc">
                        <p>{{ item.name }}</p>
                    </div>
                </div>
                </a>
            {% empty %}
                <p>No items found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}



