{% extends "layout.html" %}
{% load static %}
{% block title %}<title>My Booking</title>{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/mybooking.css' %}">
{% endblock %}

{% block body %}
    <script>
        liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
            if (!liff.isLoggedIn()) {
                liff.login();
            }else{
                liff.getProfile().then(profile => {
                    document.getElementById("userId_booking").value = profile.userId;
                    document.getElementById("userId_profile").value = profile.userId;
                    document.getElementById("userId_favorite").value = profile.userId;
                    document.getElementById("image").src = profile.pictureUrl;
                }).catch((err) => {
                    console.log(err);
                });
            }
        }, err => console.error(err.code, error.message));
    </script> 

    <div class="container">
        <h1>My Booking</h1>
        <div class="sub-contain">
            <div class="vertical-menu">        
                    <div class="element">
                        <img src="{% static '/images/select-all.png' %}" width="30px", height="30px">
                        <form method="post" action="{% url 'mybooking' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking0" name="userId" value="">
                            <input type="submit" value="All">
                        </form>
                    </div>
                    <div class="element">
                        <img src="{% static '/images/booking.png' %}" width="30px", height="30px">
                        <form method="post" action="{% url 'my_booking_not_return' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking1" name="userId" value="">
                            <input type="submit" value="Booking">
                        </form>
                    </div>
                    <div class="element">
                        <img src="{% static '/images/return-box.png' %}" width="30px", height="30px">
                        <form method="post" action="{% url 'my_booking_return' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking2" name="userId" value="">
                            <input type="submit" value="Returned">
                        </form>
                    </div>
                    <div class="element">
                        <img src="{% static '/images/warning.png' %}" width="30px", height="30px">
                        <form method="post" action="{% url 'my_booking_overdue' %}">
                            {% csrf_token %}
                            <input type="hidden" id="userId_booking3" name="userId" value="">
                            <input type="submit" value="Overdue">
                        </form>
                    </div>
                </ul>
            </div>

            <div class ="list-container">
                    {% for s in statistic %}
                        <div class="list">
                            <img src="{% static s.item.pic %}">
                            <div class="text">
                                <p>{{ s.item }}</p>
                                {% if s.return_datetime is None %}
                                    {% if s.due_datetime > now %}
                                        <div class="status-line">Status: <div class="btn-borr">Booking</div></div>
                                        <p class="txt-small">Booking date: {{ s.booking_datetime }}</p>
                                        <p class="txt-small">Due date: {{ s.due_datetime }}</p>
                                        <p class="txt-small">Return date: -</p> 
                                    {% else %}  
                                        <div class="status-line">Status: <div class="btn-over">Overdue</div></div>
                                        <p class="txt-small">Booking date: {{ s.booking_datetime }}</p>
                                        <p class="txt-small">Due date: {{ s.due_datetime }}</p>
                                        <p class="txt-small">Return date: -</p>
                                    {% endif %} 
                                {% else %}
                                    <div class="status-line">Status: <div class="btn-return">Returned</div></div>
                                    <p class="txt-small">Booking date: {{ s.booking_datetime }}</p>
                                    <p class="txt-small">Due date: {{ s.due_datetime }}</p>
                                    <p class="txt-small">Return date: {{ s.return_datetime }}</p>
                                {% endif %}    
                            </div>
                        </div>
                    {% empty %}
                        <p class="txt-small">No item found</p>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

