<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Service Site</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js"></script>
    <script>
        liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
            if (!liff.isLoggedIn()) {
                liff.login();
            }else{
                liff.getProfile().then(profile => {
                    console.log(`User ID: ${profile.userId}`);
                    console.log(`Display Name: ${profile.displayName}`);
                    console.log(`Display Pic: ${profile.pictureUrl}`);
                    document.getElementById("image").src = profile.pictureUrl;
                    document.getElementById("displayName").value = profile.displayName;
                }).catch((err) => {
                    console.log(err);
                });
            }
        }, err => console.error(err.code, error.message));
    </script>

    <header>
        <h1>Welcome to Service Site</h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><form action="/search/" method="get">
                    <input type="text" name="q" placeholder="Search...">
                    <button type="submit">Search</button>
                    </form>
                </li>
                <li><a href="{% url 'mybooking' %}">My Booking</a></li>
                <li><a href="{% url 'homepage' %}"><p id="displayName" value=""></p></a></li>
                <li style="float:right"><a href="{% url 'homepage' %}"><img id="image" src="" width="40" height="40"></a></li>
            </ul>
        </nav>
    </header>
<br>
<br>
    <main>
        <h3>Your Booking List</h3>
        <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Serial</th>
                <th>Name</th>
                <th>Booking Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Status</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td>1</td>
                <td>M-312124331</td>
                <td>mouse</td>
                <td>5-11-65</td>
                <td>10-11-65</td>
                <td>7-11-65</td>
                <td>returned</td>
              </tr>
              <tr>
                <td>2</td>
                <td>M-131241123</td>
                <td>moniter</td>
                <td>5-11-65</td>
                <td>10-11-65</td>
                <td>-</td>
                <td>booking</td>
              </tr>
              <tr>
                <td>3</td>
                <td>K-131241123</td>
                <td>keyboard</td>
                <td>5-11-65</td>
                <td>10-11-65</td>
                <td>-</td>
                <td>booking</td>
              </tr>
            </tbody>
          </table>
    </main>

    <footer>
        <p>&copy; 2023 My Homepage. All rights reserved.</p>
    </footer>
</body>
</html>