{% extends "layout.html" %}
{% load static %}
{% block title %}<title>My Booking</title>{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/status.css' %}">
<script src="{% static '/js/styles.js' %}"></script>
<script type="text/javascript" src="/static/js/styles.js"></script>
{% endblock %}

{% block body %}
    <script>
        liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
            if (!liff.isLoggedIn()) {
                liff.login();
            }else{
                liff.getProfile().then(profile => {
                    document.getElementById("userId_mybooking").value = profile.userId;
                }).catch((err) => {
                    console.log(err);
                });
            }
        }, err => console.error(err.code, error.message));
    </script> 

    <div class="container">
        <h1>My Booking</h1>
        <div class="sub-contain">
            <div class="side-menu close">
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">2023</a></li>
                    <li><a href="#">January</a></li>
                    <li><a href="#">Febuary</a></li>
                    <li><a href="#">March</a></li>
                </ul>
            </div>

            <div class ="list-container">
                <div class="list">
                    {% for s in statistic %}
                        <img src="{% static s.item.pic %}">
                        <div class="text">
                            <p>{{ s.item }}</p>
                            {% if s.return_datetime is None %}
                                <div class="status-line"><p>Status: <div class="btn-borr">Borrowing</div></p></div>
                            {% else %}
                                <div class="status-line"><p>Status: <div class="btn-return">Return</div></p></div>
                            {% endif %}    
                            <p class="txt-small">Booking date: {{ s.booking_datetime }}</p>
                            <p class="txt-small">Due date: {{ s.due_datetime }}</p>
                            <p class="txt-small">Return date: {{ s.return_datetime }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

