{% extends "layout.html" %}
{% load static %}
{% block title %}<title>My Favorites</title>{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/booking.css' %}">
{% endblock %}

{% block body %}
<script>
    liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
        if (!liff.isLoggedIn()) {
            liff.login();
        }else{
            liff.getProfile().then(profile => {
                document.getElementById("image").src = profile.pictureUrl;
                document.getElementById("userId_profile").value = profile.userId;
                document.getElementById("userId_booking").value = profile.userId;
                document.getElementById("userId_favorite").value = profile.userId;
            }).catch((err) => {
                console.log(err);
            });
        }
    }, err => console.error(err.code, error.message));
</script>

    <div class="container">
        <h1>My Favourites</h1>
        <div class="sub-contain">
            <div class="side-menu close">
                <ul class="sub-menu">
                </ul>
            </div>
            
            <div class ="list-container">
                    {% for f in favorite %}
                        <div class="list">
                            <a href="{% url 'detail' f.item.id %}">
                                <img src="{% static f.item.pic %}">
                                <div class="text">
                                    <p>{{ f.item.name }}</p>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <p class="txt-small">No item found</p>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

