{% extends "layout.html" %}
{% load static %}

{% block title %}<title>Service</title>{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/services.css' %}">
{% endblock %}

{% block body %}
<script>
    liff.init({ liffId: "1657196715-wb3NDYPR" }, () => {
        if (!liff.isLoggedIn()) {
            liff.login();
        }else{
            liff.getProfile().then(profile => {
                document.getElementById("userId_booking").value = profile.userId;
                document.getElementById("userId_profile").value = profile.userId;
                document.getElementById("userId_favorite").value = profile.userId;
                document.getElementById("image").src = profile.pictureUrl;
            }).catch((err) => {
                console.log(err);
            });
        }
    }, err => console.error(err.code, error.message));
</script>
<div class="container">
    <h1>Circulation Service</h1>
    <div class="sub-contain">
        <div class="redbar"></div>
        <h2>Lending Service</h2>

        <p class="word">&#x2022; Can choose the borrowing period with 1 day, 7 days and 30 days. If wanting to renew, must bring it to check the condition first and then continue borrowing.<br><br>

        &#x2022; If not returned on the specified date, will be fined for the date exceeding 5 baht per day.<br><br>
    
        &#x2022; If found to be damaged you will have to pay back</p>
        
        <div class="text">   
        </div>
    </div>
</div>

{% endblock %}